/* Reset some basic styles for consistency across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Ensure the body and html elements take full height */
    overflow-y: auto; /* Enable scrolling */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li img {
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
}

main {
    flex: 1; /* Take up remaining space in the middle */
    padding: 20px;
}

#product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.product-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image {
    margin-right: 20px;
}

.product-description {
    text-align: left;
}

.product-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.price {
    font-size: 1.5em;
    color: red;
    margin-right: 20px;
}

.add-to-cart {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.footer-info {
    text-align: right;
}

.footer-info section {
    display: inline-block;
    margin-left: 20px;
}

.footer-info section h2 {
    font-size: 1.2em; /* Smaller font size */
}

.footer-info section p {
    font-size: 0.9em; /* Smaller font size */
}
