/* Reset some basic styles for consistency across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    text-align: left; /* Align content to the left */
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.contacts-heading {
    text-align: center;
}

.contacts-container {
    display: flex; /* Use flexbox for horizontal alignment */
    justify-content: center; /* Center align items horizontally */
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
}

.contacts {
    background: white;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    width: 300px; /* Fixed width for each product */
    text-align: center; /* Center content */
}

.contacts h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
